.tabs {
    display: flex;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        width: 98px;
        height: 40px;
        background: $white;
        border: 1px solid $grey-20;
        border-radius: 999px;
        margin-right: 8px;
        cursor: pointer;
        transition: background 0.5s ease;

        &.active {
            background: $grey-10;
            border: 1px solid $brand-primary;
            border-radius: 999px;
        }

        &:hover {
            background: $grey-10;
        }
    }
}