.order-card {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 16px;
    cursor: pointer;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: inset 0px -1px 0px $gray-20;
        padding: 20px 24px;

        .order-info {
            display: flex;
            align-items: center;

            &__number {
                padding-right: 8px;
            }

            &__date {
                padding-right: 12px;
            }

            &__status {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 4px 8px;
                background: $brand-primary-12;
                border-radius: 4px;

                @media (max-width: $xs) {
                    display: none;
                }
            }
        }

        .order-price {
            display: flex;

            @media (max-width: $xs) {
                padding-top: 12px;
            }

            &__status-mobile {
                display: none;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 4px 8px;
                background: $brand-primary-12;
                border-radius: 4px;
                margin-left: 12px;

                @media (max-width: $xs) {
                    display: flex;
                }
            }
        }

        @media (max-width: $xs) {
            align-items: flex-start;
            flex-direction: column;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        flex-wrap: wrap;

        .order-data {

            &__delivery {
                margin-bottom: 4px;
            }

            &__address {
                margin-bottom: 16px;
                padding-left: 28px;

                @media (max-width: $s) {
                    margin-bottom: 0;
                }

                @media (max-width: $xs) {
                    margin-bottom: 16px;
                }
            }

            &__pay {
                margin-bottom: 4px;
            }

            &__pay-status {
                padding-left: 28px;
            }

            @media (max-width: $s) {
                display: flex;
                width: 100%;

                .order-data__item {
                    width: 50%;
                }
            }

            @media (max-width: $xs) {
                flex-direction: column;

                .order-data__item {
                    width: 100%;
                }
            }

        }

        .goods-images {
            display: flex;
            align-items: center;

            .image {
                width: 80px;
                height: 80px;
                border-radius: 8px;
                object-fit: contain;
                margin-right: 8px;
                cursor: pointer;
            }

            .another-goods {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 80px;
                height: 80px;
                min-width: 80px;
                min-height: 80px;
                background: $white;
                border: 1px solid $gray-20;
                border-radius: 8px;
                color: $brand-secondary;
                cursor: pointer;
            }

            @media (max-width: 1156px) {
                padding-top: 12px;
            }

            @media (max-width: $s) {
                padding-top: 12px;

                .image,
                .another-goods {
                    margin-top: 12px;
                }
            }

            @media (max-width: $xs) {
                padding-top: 12px;

                .image,
                .another-goods {
                    margin-top: 12px;
                }
            }
        }

        @media (max-width: 1156px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media (max-width: $s) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media (max-width: $xs) {
            flex-direction: column;
            padding-right: 0;
        }
    }

    .order-icon {
        margin-right: 8px;
        width: 20px;
        height: 20px;
    }
}