.popup {
    box-shadow: 0px 4px 16px 4px rgba(36, 16, 15, 0.08);

    &__search {
        padding: 24px;
    }

    &__results {
        .body {
            padding: 0 12px 12px 12px;

            &__title {
                // font-size: 1.4rem;
                font-weight: 500;
                padding: 6px 12px;
            }

            &__items {
                max-height: 424px;

                .item {
                    display: flex;
                    align-items: center;
                    padding: 6px 12px 6px 14.5px;
                    cursor: pointer;

                    span {
                        padding-left: 10.5px;
                    }
                }

                .item__found {
                    display: flex;
                    align-items: center;
                    padding: 12px;

                    .image {
                        width: 96px;
                        height: 96px;
                        border-radius: 8px;
                        object-fit: contain;
                        margin-right: 16px;
                    }

                    .content {
                        .price {
                            display: block;
                            font-size: 1.8rem;
                            font-weight: 500;
                            margin-bottom: 8px;
                        }

                        .desc {
                            // font-size: 1.4rem;
                        }
                    }
                }
            }

            .body__items-scroll {
                overflow-y: scroll;
            }

            .result__error {
                display: block;
                text-align: center;
                padding-top: 16px;
                padding-bottom: 40px;
            }
        }

        .footer {
            margin-top: 0;
            padding: 16px 24px;
            background-color: #fff;
            box-shadow: inset 0px 1px 0px #ECE8E5;
        }

    }

    $this: &;
    display: flex;
    flex-direction: column;
    background-color: $white;

    &__top {
        padding: 20px 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        box-shadow: inset 0px -1px 0px #ece8e5;

        @media (max-width: $xs) {
            padding: 16px;
        }
    }

    &__title {
        color: $brand-secondary;
        @include fontSize(18, 24);
        font-weight: 500;
    }

    &__close-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border: 1px solid $gray-20;
        border-radius: 100%;
        cursor: pointer;

        &:hover {
            #{$this}__close {
                fill: $brand-primary;
            }
        }

        &:active {
            #{$this}__close {
                fill: #ae5435;
            }
        }
    }

    &__close {
        width: 16px;
        height: 16px;
        fill: $brand-secondary;
    }

    &__content {
        padding: 24px;

        @media (max-width: $xs) {
            padding: 16px;
        }
    }

    &__footer {
        padding: 16px 24px;
        box-shadow: inset 0px 1px 0px #ECE8E5;
    }
}