@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-feature-settings: 'salt' on;
}

body {
  @include text-md;

  background-color: $white;
  color: $brand-secondary;
  font-family: 'Muller', sans-serif;
  // font-weight: $font-weight-base;
  width: 100%;
}

#app {
  min-height: 100vh;
  min-width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  // min-height: calc(100vh - 132px);

  &.loading {
    min-height: 200vh;
    opacity: 0;
  }
}

a {
  @include link-base;

  transition: all $transition-duration-base;
}

a,
button {
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button {
  transition: color $transition-duration-base, background-color $transition-duration-base, border $transition-duration-base;

  &:not(:focus-visible) {
    outline: none;
  }
}

button,
input,
select,
textarea {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

// Remove Arrows/Spinners
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

select {
  border-radius: 0;

  &::-ms-expand {
    // IE11
    display: none;
  }
}

textarea {
  resize: none;
}

hr {
  border: none;
}

iframe {
  border: none;
}

img {
  max-width: 100%;

  &[width],
  &[height] {
    max-width: none;
  }
}

figure {
  margin: 0;
}

ol.list-numbers {
  list-style: none;
  counter-reset: step;
  padding-top: 8px;
  padding-bottom: 12px;
}

ol.list-numbers li {
  counter-increment: step;
  padding-left: 32px;
}

ol.list-numbers li {
  position: relative;
  padding-bottom: 8px;

  &::before {
    content: counter(step, decimal) '.';
    position: absolute;
    left: 12px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: $brand-secondary;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

ul {
  list-style: none;
}

ul {
  padding-top: 8px;
  padding-bottom: 12px;
}

ul.list-icons li {
  position: relative;
  padding-left: 32px;
  display: flex;
  align-items: center;
  padding-bottom: 8px;

  &::after {
    content: '';
    position: absolute;
    left: 12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $brand-secondary;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

small {
  @include text-sm;
}

svg {
  vertical-align: top;
  transition: all $transition-duration-base;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:disabled {
  cursor: not-allowed;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.no-overflow {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.veil {
  transition: all $transition-duration-base;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  // background: rgba($color-gray-900, .25);
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}


table {
  background-color: $white;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  width: 100%;
  table-layout: fixed;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  z-index: 1;
}

tbody {
  position: relative;
  z-index: 10;
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  background-color: $white;

  &::-webkit-scrollbar {
    width: 0;
    z-index: 10;
  }
}

th,
td {

  @include fontSize(12, 16);
  font-weight: 400;
  color: $brand-secondary;
  padding: 8px 8px 7px;
  text-align: center;
  border-bottom: 1px solid $gray-20;
}

td {
  width: 100%;
}

th {
  padding: 16px 8px;
  background-color: $gray-10;
  font-weight: 500;
}

.heading-1 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 500;

  @media (max-width: $m) {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  @media (max-width: $s) {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  @media (max-width: $xs) {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}

.heading-2 {
  font-size: 2.8rem;
  line-height: 3.6rem;
  font-weight: 500;

  @media (max-width: $m) {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  @media (max-width: $s) {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  @media (max-width: $xs) {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
  }
}

.heading-3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 500;

  @media (max-width: $m) {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
  }

  @media (max-width: $s) {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
  }

  @media (max-width: $xs) {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;
  }
}

.title-1-r {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.title-1-m {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 500;
}

.body-1-r {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.body-1-m {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
}

.body-2-r {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
}

.body-2-m {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
}

.body-3-r {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
}

.body-3-m {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

.label-1-r {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.label-1-m {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
}

.label-2-r {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.label-2-m {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 500;
}

.label-3-r {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.label-3-m {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 500;
}

.label-4-m {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 500;
}

.text-color-primary {
  color: $brand-primary  !important;
}

.text-color-red {
  color: $status-red  !important;
}

.text-color-green {
  color: $status-green  !important;
}

.text-color-gray-50 {
  color: $gray-50  !important;
}

.bg-gray-10 {
  background: $gray-10  !important;
}

.input-bg-gray-10 {
  input {
    background: $gray-10  !important;
  }
}

.d-flex {
  display: flex !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.margin-auto {
  margin: 0 auto !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pt-24 {
  padding-top: 24px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}

.pb-32 {
  padding-bottom: 32px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.callout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  width: 648px;
  min-height: 56px;
  background: $gray-10;
  border-radius: 8px;
  margin-top: 12px;

  @media (max-width: $s) {
    width: 100%;
  }
}

.accordion__with-radius {
  border-radius: 8px;
  background: $gray-10;

  .accordion {
    border-top: none;

    &:last-child {
      border-bottom: none;
    }
  }
}

/* Popup Styles */

.vm--overlay {
  background: rgba(0, 0, 0, 0.48) !important;
}

.vm--modal {
  // top: 0 !important;

  @media (max-width: $s) {
    margin-bottom: 0 !important;
    margin-top: auto !important;
  }

  @media (max-width: $xs) {
    margin-bottom: 0 !important;
    margin-top: auto !important;
  }
}

/* Scroll Styles */

.ps__rail-x,
.ps__rail-y {
  z-index: 100;
}