.vm--container {
  display: flex;
  align-items: center;
}

.vm--modal {
  border-radius: 16px !important;
  height: fit-content !important;
  top: 0 !important;

  @media (max-width: 1023px) {
    left: 16px !important;
    width: calc(100vw - 32px) !important;
  }
}