.badge {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 4px 8px;
  width: fit-content;

  &.sale {
    background-color: rgba(214, 7, 0, 0.12);
  }

  &__label {
    color: $white;
    @include fontSize(13, 16);
    font-weight: 400;

    &.red {
      color: $status-red;
    }
  }
}
