.accordion {
  $this: &;
  border-top: 1px solid $gray-20;
  border-bottom: 1px solid $gray-20;
  width: 100%;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  &.padding {
    #{$this}__content {
      margin-top: 8px;
      margin-bottom: 24px;
    }
  }

  &+& {
    border-top: unset;
  }

  &__head {
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__title {
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 500;

    // &.subtitle {
    //   margin-left: 8px;
    //   color: $color-text-secondary;
    // }
  }

  &__icon-shevron {
    width: 20px;
    height: 20px;
    fill: $brand-secondary;
    display: none;

    &.active {
      display: block;
    }
  }

  &__body {}

  &__accordion-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 24px;
  }

  &.with-bg {
    padding-left: 16px;
    padding-right: 16px;
  }

}