.section-main {
  padding-top: 96px;

  @media (max-width: $s) {
    padding-top: 64px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__title {
    color: $brand-secondary;
    @include fontSize(28, 36);
    font-weight: 500;
  }

  &__body {
    padding-top: 24px;
  }

  &.paddings {
    padding-left: 60px;
    padding-right: 60px;

    @media (max-width: $l) {
      padding-left: 48px;
      padding-right: 48px;
    }

    @media (max-width: $m) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: $s) {
      padding-left: 24px;
      padding-right: 24px;
    }

    @media (max-width: $xs) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}