.store-card {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $gray-20;
    padding: 32px 0;

    &__address {
        padding-right: 32px;
        max-width: 50%;
        width: 100%;

        .name {
            padding-bottom: 8px;
        }

        span {
            color: $gray-50;
        }

        @media (max-width: $s) {
            max-width: 344px;
        }

        @media (max-width: $xs) {
            max-width: none;
            padding-right: 0;
            padding-bottom: 16px;
            max-width: 100%;
        }
    }

    &__hours {
        padding-right: 32px;
        max-width: 25%;
        width: 100%;

        .title {
            color: $gray-50;
            padding-bottom: 4px;
        }

        @media (max-width: $xs) {
            padding-right: 0;
            padding-bottom: 16px;
            max-width: 100%
        }
    }

    &__phones {
        max-width: 25%;
        width: 100%;

        .title {
            color: $gray-50;
            padding-bottom: 8px;
        }

        @media (max-width: $xs) {
            max-width: 100%
        }
    }

    @media (max-width: $xs) {
        padding: 24px 0;
        ;
    }

    &:first-child {
        border-top: none;
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }

    @media (max-width: $xs) {
        flex-direction: column;
    }
}